.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center;
    height: 350px; */
}
.first{
    flex-grow: 1;
}
.box{
    width: 100px;
    height: 100px;
    background: purple;
    border: 5px solid black;
    color: white;
    font-size: 40px;
}

